<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
 		<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
 		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
		<title>CAS</title>
 		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
 		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
		<link href="../static/css/index.css" th:href="@{css/index.css}" rel="stylesheet"/>
	</head>

	<body>
		<div class="container col-xs-12">
			<div id="box">
				<div class="logo">
					<h4>Login</h4>
				</div>
				<div class="group" id="divMessage">
					<label id="labelMessage"></label>
				</div>
				<div class="controls">
					<form class="login-form" th:action="@{/login}" method="post" id="formLogin">
						<input autocomplete="off" id="loginLogin" type="text" name="username" placeholder="Identifiant" class="form-control inputConnexion"/>
						<input autocomplete="off" id="passwordLogin" type="password" name="password" placeholder="Mot de passe" class="form-control inputConnexion" />
					</form>
					<button id="submitLogin" onclick="javascript:valideLogin();">CONNEXION</button>
				</div>
				<a th:href="${linkedinAuthUrl}" th:class="'oauth-login-link linkedin-login'">Connect with LinkedIn</a>
			</div>
		</div>
	</body>

	<script src="../static/js/login.js" th:src="@{js/login.js}" charset="utf-8"></script>

</html>
